# Ignore node modules
**/node_modules/

# === dotenv files ===
codinghive_backend/.env
codinghive_backend/.env.*
codinghive_frontend/.env
codinghive_frontend/.env.*

# Ignore build files
**/build/
**/dist/

# Ignore logs
*.log
